{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: social media story
{% endblock %}
{% block content %}
<h1># music-at-first-sight</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
<p>fin de mes mots : Two people crossing paths on the same floor triggers events that can be tender, explosive, or transformative, unlike two forces uniting, more like two chemical provoking risky explosion. The meeting is treated as a dramatic device—sometimes playful (water bombs), sometimes dangerous—whose consequences drive the story and the music. They decide to turn this into something playful , they take the same boat together. at the end of the day, that makes their truth invert. the one who was more I want that nw, or I dont want to see something else than me is more connected to the world, the one that was more connected to the world is more trying to listen, to see, trying to be her/his own self, the one who was more tending to turn into his/her feelings is more open to the world.
</p>
<p>the one who "shaked hands" with the "heart" of their self image or public image, stop doing so. they switch identity with the discrete identity, who "dont" post or chose their terms on posting. Posting on social media is still like playing cards with the one managing their self image like jack, queen, or kings and other like numbers or followers/watchers.


</p>
<p>
Certaines personnes ont des millions d'abonnés, mais leur image publique est ternie. Pourquoi chaque apparition ne serait-elle pas bénéfique à leur réputation ? Une déclaration, une interview, un article peuvent tous influencer la perception qu'en ont les gens. La présence médiatique n'est pas le fruit du hasard ; c'est un choix délibéré. Vous décidez de ce que vous dites, où vous apparaissez, comment vous présentez-vous et quel impact vous avez sur le public. Gérer son image médiatique n'est pas un luxe ; c'est un investissement pour votre nom, votre succès et votre réputation.


</p>
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
