{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldscenelieu">lieu</label><input type="text" id="somefieldscenelieu" name="lieu"/></div>
<div class="field"><label for="somefieldscenelat">lat</label><input type="text" id="somefieldscenelat" name="lat"/></div>
<div class="field"><label for="somefieldscenelon">lon</label><input type="text" id="somefieldscenelon" name="lon"/></div>
<div class="field"><label for="somefieldsceneprofil_qui_parle">profil_qui_parle</label><input type="text" id="somefieldsceneprofil_qui_parle" name="profil_qui_parle"/></div>
<div class="field"><label for="somefieldscenece_qu_on_poste">ce_qu_on_poste</label><input type="text" id="somefieldscenece_qu_on_poste" name="ce_qu_on_poste"/></div>
<div class="field"><label for="somefieldsceneouvert_ou_ferme">ouvert_ou_ferme</label><input type="text" id="somefieldsceneouvert_ou_ferme" name="ouvert_ou_ferme"/></div><div class="actions"><input type="submit"/></div></form>{% for x in scenes %}{{x["lieu"] }}{% endfor %}
<div id="monadresse">
</div>
<div id="autresoffres">
</div>

     <div class="field">

                                         <label for="monlieu1">lieu</label>


         <input type="text" name="lieu" id="monlieu1" placeholder="nom du lieu"/>


                 </div>

                <button id="loadmycity" type="button">chercher l'adresse</button>

<div id="chercherunjob" style="display:none;">
la carte est bien là ou est l'offre d'emploi?
</div>

                                                        <input type="hidden" value="" id="maregion1" name="region" />
                                                        <input type="hidden" value="" id="monpays1" name="pays" />


        <input type="hidden" value="" id="moncode1" name="code" />


        <input type="hidden" value="" id="maville1" name="ville" />


        <input type="hidden" value="" id="monrayon1" name="rayon" />

                                                         <input type="hidden" onchange="" name="job" value="informatique" id="monjob1" placeholder="nom du job"/>

<div id="imap"><div id="map" style="height:200px;width:100%;" onclick="onMapClick(event);"><!-- Ici s'affichera la carte --></div>{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_scene"> add one scene</a>{% endblock %}{% block jsmap %}<script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script><script src="/static/js/scenemymap.js" type="text/javascript"></script>{% endblock %}